@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+AU+VIC:wght@100..400&display=swap');

:root {
    --cor-primaria: #973131;
    --cor-secundaria: #E0A75E;
    --cor-terciaria: #F5E7B2;
    --cor-quarternaria: #f6f6f6;

    --fonte-primaria: 'oswald', sans-serif;
    --fonte-secundaria:  "Playwrite AU VIC", cursive;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: var(--cor-terciaria);
    color: #000000;
}

.cabecalho {
    width: 100%;
    height: 5rem;
    background-color: var(--cor-primaria);
    color: var(--cor-quarternaria);
    font-size: 3rem;
}

.cabecalho__titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    padding: 0 2%;
}

.cabecalho__lista {
    color: var(--cor-primaria);
    text-align: center;
    font-size: 2rem;
    font-family: var(--fonte-primaria);
    padding: 2rem 0 0 0;
    text-decoration: underline solid 4px;

}


.conteudo__principal {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
}

.conteudo__filmes {
    margin: 3rem;
    padding: auto;
    box-shadow: 1rem 1rem 0 0 var(--cor-secundaria);
}

.conteudo__titulo {
    
    background-color: var(--cor-primaria);
    padding: 5% 5%;
    text-align: center;
    border: 1px solid var(--cor-quarternaria);
    font-family: var(--fonte-primaria);
    color: var(--cor-quarternaria);
}


.conteudo__poster {
    width: 0;
    padding-bottom: auto;
    margin: auto;
    height: 88%;
    width: 10rem;
    border: 1px solid var(--cor-quarternaria);
}

.rodape {
    background-color: var(--cor-primaria);
    height: auto;    
    margin: none;
}

.rodape__texto {
    padding: 1% 0 1% 5%;
    margin: none;
    color: var(--cor-terciaria);
} 

.rodape__nome{
    font-family: var(--fonte-secundaria);
}
